/**
 * designed to emulate root-element stretching and overflow
 * prevention previously handled in kbn_chrome.less
 */
 @import './rcp_variables.scss';
 body{
  font-family: $rcpFont !important;
}
// a{
//   color: $primaryColor !important;
// }
.coreSystemRootDomElement {
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}
.embPanel{
  // border: 1px solid #001D6D;
  font-family: $rcpFont !important;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  // padding: 2.5px;
  h2{
    font-weight: 700;
    background-color: #FFF;
    color: #333;
    height: 51.52px;
    padding-left: 13.135px;
    border-bottom: 1px solid #ebebeb;
  }
  .embPanel__optionsMenuPopover{
    background-color: #FFF;
    padding-right: 13.135px;
    height: 51.52px;
    line-height: 51.52px;
    border-bottom: 1px solid #ebebeb;
    .euiButtonIcon .euiButtonIcon--text .embPanel__optionsMenuButton,.embPanel__optionsMenuButton:focus,
    .embPanel__optionsMenuButton:not(:disabled){
      color: rgb(156, 156, 156);
      background: transparent;
      // transform: rotate(90deg) !important;
      opacity: 1 !important;
    }
    .euiButtonIcon:hover:not(:disabled), .euiButtonIcon:focus {
      text-decoration: none;
      // transform: translateY(0px);
      // transform: rotate(90deg) !important;
    }
  }
}
.react-grid-item {
  padding: 2.5px;
}
.euiLink.euiLink--subdued,.euiLink.euiLink--subdued:hover {
  color: $primaryColor;
  text-decoration: none;
  /* color: #6a717d; */
}
.euiLink.euiLink--subdued:focus{
  background-color: transparent !important;
  outline: none !important;
}

.kbnWelcomeText{
  font-family: $rcpFont !important;
}

/* ------------------GLOBAL COMPONENTS---------------- */

/* ------------------BUTTON---------------- */

/* ------------------OUTLINE BUTTON---------------- */
.euiButton{
  font-family: $rcpFont !important;
  box-shadow: none !important;
}
.euiButton--primary{
  color: $primaryColor;
  border-color: $primaryColor;
}
.euiButton:hover:not(:disabled), .euiButton:focus {
  text-decoration: none;
  background-color: $redColor2 !important;
  border-color: $redColor2 !important;
  color: #fff;
}
.euiButton:hover:not(:disabled){
  -webkit-transform: none;
  transform: none;
}

// :hover
.euiButton:hover, .euiButton:active{
  box-shadow: none !important;
}
.euiButton:hover:not(:disabled){
  background-color: $primaryHoverColor !important;
  border-color: $primaryHoverColor !important;
  color: #fff;
}
// :focus
.euiButton:focus{
  animation: none !important;
}

/*----------------------FILLED BUTTON------------*/
.euiButton--primary.euiButton--fill{
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
}
// .euiButton--secondary.euiButton--fill{
//   background-color: $primaryColor !important;
//   border-color: $primaryColor !important;
// }
.euiButton:disabled.euiButton--fill{
  background-color: $greyColor3 !important;
  border-color: $greyColor3 !important;
  color: $greyColor4 !important;
  opacity: .5 !important;
}

/* ------------------LINK BUTTON--------------- */

.euiLink.euiLink--primary {
  color: $primaryColor !important;
}
.euiLink.euiLink--primary:hover {
  color: $primaryHoverColor !important;
}
.euiLink:hover{
  text-decoration: none;
}
.euiLink.euiLink--primary:focus{
  outline: none !important;
  background-color: transparent !important;
}
.euiLink:focus{
  text-decoration: none !important;
  background: transparent !important;
}
.euiLink.euiLink--text:focus{
  outline: none !important;
}

/* ------------------LINK BUTTON 2----------------*/

.euiButtonEmpty--primary{
  color: $primaryColor !important;
}
.euiButtonEmpty:hover:not(:disabled), .euiButtonEmpty:focus{
  text-decoration: none;
  color: $primaryHoverColor !important;
}
.euiButtonEmpty--primary:focus{
  background-color: transparent;
}
.euiButtonEmpty:disabled{
  // background-color: $greyColor3 !important;
  color: $greyColor4 !important;
  opacity: .5 !important;
}


/* ------------------SIDE MENU--------------- */

.euiListGroupItem.euiListGroupItem-isClickable:focus-within{
  background-color: #FFE8E8;
}
.euiListGroupItem--text .euiListGroupItem__text:not(:disabled), .euiListGroupItem--text .euiListGroupItem__button:not(:disabled){
  color: #90003B;
}
.euiListGroupItem.euiListGroupItem-isClickable:hover .euiListGroupItem__button, .euiListGroupItem .euiListGroupItem__button:hover, .euiListGroupItem .euiListGroupItem__button:focus{
  text-decoration: none;
}
.euiListGroupItem.euiListGroupItem-isClickable:hover .euiListGroupItem__button, .euiListGroupItem .euiListGroupItem__button:hover, .euiListGroupItem .euiListGroupItem__button:focus{
  text-decoration: none;
}
.euiAccordion__button:hover, .euiAccordion__button:focus{
  text-decoration: none;
}
.euiAccordion__button:focus .euiAccordion__iconWrapper{
  color: $redColor2;
  animation: none !important;
}

//sidebar hover
.euiListGroupItem.euiListGroupItem-isActive, .euiListGroupItem.euiListGroupItem-isClickable:hover{
  background-color: $primaryHoverColor;
  .euiListGroupItem__button{
    color: #fff;
  }
}

/* ------------------NAV TABS--------------- */

.euiTab{
  color: $greyColor1;
}
.euiTab__content{
  font-family: $rcpFont !important;
}
.euiTab:focus{
  background-color: transparent;
  text-decoration: none;
}
.euiTab.euiTab-isSelected{
  color: $redColor2 !important;
}
.euiTab.euiTab-isSelected:hover{
  color: $primaryHoverColor;
}
.euiTab.euiTab-isSelected::after{
  background-color: $redColor2 !important;
}
.euiTab:hover:not(.euiTab-isSelected){
  text-decoration: none;
  color: $primaryHoverColor;
}

/* ------------------HEADER ICONS---------------*/

.euiHeaderSectionItem__button{
  color: $greyColor2 !important;
}
.euiHeaderSectionItem__button:hover{
  color: $primaryHoverColor !important;
}
.euiHeaderSectionItem__button:hover{
  background-color: transparent;
}
.euiHeaderSectionItem__button:focus{
  background: transparent;
  color: $primaryHoverColor !important;
}

/* ------------------TOGGLE BUTTON---------------*/

/* ------------------CHECKBOX---------------*/
.euiCheckbox .euiCheckbox__input + .euiCheckbox__square{
  box-shadow: none !important;
  border: 2px solid $greyColor1 !important;
}
.euiCheckbox .euiCheckbox__input:focus + .euiCheckbox__square, .euiCheckbox .euiCheckbox__input:active:not(:disabled) + .euiCheckbox__square{
  animation: none !important;
  border-color: $primaryHoverColor !important;
}
.euiCheckbox .euiCheckbox__input:hover + .euiCheckbox__square, .euiCheckbox .euiCheckbox__input:active:not(:disabled) + .euiCheckbox__square{
  animation: none !important;
  border-color: $primaryHoverColor !important;
}
// :checked
.euiCheckbox .euiCheckbox__input:checked + .euiCheckbox__square{
  border: 2px solid $redColor2 !important;
  background-color: $redColor2 !important;
}


