$rcpFont: 'Rakuten Sans UI', sans-serif;

// colors
$primaryColor: #C53E6C;
$primaryHoverColor: #A53159;
$redColor2: #90003B;
$redColor3:  #A53159;
$greyColor1:  #686868;
$greyColor2: #9c9c9c;
$box-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.1);
$border-radius: 0.308em;
