// TODO #64541
// Delete this block
.chrHeaderWrapper:not(.headerWrapper) {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.chrHeaderHelpMenu__version {
  text-transform: none;
}

.chrHeaderBadge__wrapper {
  align-self: center;
  margin-right: $euiSize;
}

.chrHeaderWrapper {
  .euiHeader--fixed{
    background-color: #001D6D;
    color: #FFF;
  }
  .euiHeaderSectionItem__button:hover{
    color: #001D6D;
  }
}

.header__toggleNavButtonSection {
  .euiBody--collapsibleNavIsDocked & {
    display: none;
  }
  // .euiHeaderSectionItem__button:focus{
  //   background: none;
  // }
}
